/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    .container{
        display:flex;
        flex-direction: row;
    }
    .contentClass{
      width:25%;
      border-color:grey;
      border-style: groove;
      height:40% ;   
    }
    .imageClass{
        Width:75%;
        flex-wrap: wrap;
    }
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    .container{
        display:flex;
        flex-direction: row;
    }
    .contentClass{
      width:25%;
      border-color:grey;
      border-style: groove;
      height:40% ;
    }
    .imageClass{
        Width:75%;
        flex-wrap: wrap;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .container{
        display:flex;
        flex-direction: column;
        justify-content:space-between;
    }
    .contentClass{
      width:100%;
      border-color:grey;
      border-style: groove;
      height:20% ;
    }
    .imageClass{
      display:flex;
      flex-direction: row;
      width:100%;  
      flex-wrap: wrap;
    }
    .imgcol1{
      width:50%;
    }
    .imgcol2{
      width:50%;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .container{
        display:flex;
        flex-direction: row;
        justify-content:space-between;
    }
    .contentClass{
      width:25%;
      border-color:grey;
      border-style: groove;
      height:40% ;
    }
    .imageClass{
        width:75%;
        
        flex-wrap: wrap;
    }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    .container{
        display:flex;
        flex-direction: row;
        justify-content:space-between;
    }
    .contentClass{
      width:25%;
      border-color:grey;
      border-style: groove;
      height:40% ;
    }
    .imageClass{
        Width:75%;
       
        flex-wrap: wrap;
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
   
    .container{
        display:flex;
        flex-direction: column;
        justify-content:space-between;
        
    }
    .contentClass{
      width:100%;
      border-color:grey;
      border-style: groove;
      height:20%;
    }
    .imageClass{
      display:flex;
      flex-direction: row;
      width:100%;  
      
      flex-wrap: wrap;
    }
    .imgcol1{
      width:50%;
    }
    .imgcol2{
      width:50%;
    }
  }






