.articleClass{
    font-family: Courier New, Courier, monospace;

}

.sectionClass{
   display:flex;
   flex-wrap: wrap;
   border: 1px black;
   height: 200px;
}

.headingClass{
    font-family: fantasy;
    background-color: rgb(70, 177, 177);  
     
 }
 .subHeadingClass{
     font-family: cursive;
     color:dodgerblue;
 }
 .drawRect{
    height: 100px;
    width:20px;
    background-color: gray;
 }
 .drawRect1{
    height: 20px;
    background-color: gray;
 }
 .spaceClass{
    height: 10px;
    width:10px;
 }
