

body{width:800px; margin: 10px auto;font-family: 'Lato'; font-size:18px;background-image: url("map-bg.jpg")}
.secClass{
    float: left;
    
}
.headingClass{
    font-family: fantasy;
    background-color:rgb(187, 183, 183);  
 }
p{
    font-family: fantasy;
}