.headingClass{
    font-family: Courier New, Courier, monospace;
    background-color: rgb(200, 126, 223);  
 }
.subHeadingClass{
     font-family: Courier New, Courier, monospace;
     color:rgb(34, 160, 128);
 }

.articleClass{
    padding-left:80px;
}

.inputClass{
    margin:10px;
}
.pClass{
    margin:10px;
    font-family: Courier New, Courier, monospace;
    color:blue;
}